*{
    margin: 0;
}
.img{
    width: 100px;
    height: 100px;
    float: left;
}
h1{
    margin-bottom: 10px;
}



.btn {
    width: 50px;
    height: 25px;
    margin-top: 22px;
    border: 1px solid gray;
    border-radius: 10%;
}
